/* ----- START DEBUG ----- */

/* * { border: 1px solid #FF0000; } */

/* ----- START GENERAL ----- */

a,
a:link,
a:visited,
a:hover,
a:active {
    color: #1C84E0;
    text-decoration: underline;
}

body {
    background-color: #000;
    color: #444;
    font-family: square, arial, helvetica;
}

h1 {
    font-size: 20vh;
}

h2 {
    font-size: 10vh;
}

p {
    font-size: 3vh;
}

/* ----- START HEADER ----- */

body > header {
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 8vh;
    
    display:block;
    z-index:9;

    /*Top right bottom left*/
    padding: 1vh 1vw 1vh 8vw;
    opacity: 0.8;
    
    /* Minumum widths are broken with the slider */
    /* min-width: 200px; */
    
    background: #000 url("/theme/images/initials.svg") no-repeat 2vw center;
    background-size: 9vw 9vh;
    
    overflow: hidden;
}
@media (max-width: 80vh) {
    body > header {
        /* Change icon to name on thin screens */
        background: #000 url("/theme/images/name.svg") no-repeat 2vw center;
        background-size: 18vw 9vh;
    }
}

body > header > h1 {
    font-size: 5vh;
    font-weight:bold;
    float: left;
    display: inline-block;
    vertical-align: middle;
    /*Top right bottom left*/
    padding: 1vh 1vw 1vh 1vw;
    margin: 0 0 0 4vw;
    color: #FFF;

    /* Stop header wrapping to two lines on thin screens */
    white-space: nowrap;
    overflow: hidden;
}
@media (max-width: 80vh) {
    body > header > h1 {
        /* Hide header title on thin screens */
        display: none;
    }
}
body > header > h1 > a,
body > header > h1 > a:link,
body > header > h1 > a:visited,
body > header > h1 > a:hover,
body > header > h1 > a:active {
    color: #FFF;
    text-decoration: none;
}

body > header > ul {
    position:relative;
    font-size: 2vh;
    float: left;
    vertical-align: middle;
    text-align: left;
    /*Top right bottom left*/
    margin: 0 0 0 1vw;
    z-index: -1;
    color: #FFF;
}
@media (max-width: 90vh) {
    body > header > ul {
        /* Hide header list text on thin screens */
        display: none;
    }
}

body > header > nav {
    position: relative;
    float:right;
}

body > header > nav > ul > li > a {
    position: relative;
    float:right;
    
    vertical-align: middle;
    /*Top right bottom left*/
    padding: 1vh 1vw;

    -webkit-border-radius: 1vmin;
    -moz-border-radius: 1vmin;
    border-radius: 1vmin;
    border: 0.1vmin solid #FFF;
    
    cursor: pointer;
    display: inline-block;

    width: 5vw;
    height:5vh;

    background: #FFF url("/theme/images/contactblack.svg") no-repeat center;
    background-size: 4vw 4vh;
}

body > header > nav > ul > li > a:hover {
    background-color: #9E9E9E;
}

body > header > nav > ul > li > a:active {
    background-color: #1C84E0;
    background: #000 url("/theme/images/contactwhite.svg") no-repeat center;
    background-size: 4vw 4vh;
}

/* ----- START MAIN ----- */

body > main > section {
    /*Top right bottom left*/
    margin: 10vh 0 5vh 0;
}

body > main > section > header {
    position: absolute;
    bottom:1vh;
    right:1vw;
    z-index: 10;
    /* Hide header unless there is javascript */
    visibility: hidden;
}
@media (max-width: 90vh) {
    body > main > section > header {
        /* Hide header thin screens */
        display: none;
    }
}
body > main > section > header > h2 {
    font-size: 5vh;
}

/*body > main > section >*/ article {
    background:#9E9E9E;
    color:#FFF;
    /* Do not put padding here, it breaks the slider. */
    padding: 0;
    /*Top right bottom left*/
    margin: 0 0 5vh 0;
    height:85vh;
    overflow: hidden;
}

/*body > main > section >*/ article > header {
    color:#000;
    /*Top right bottom left*/
    padding:2vh 2vw;
    width: 85vw;
}

/*body > main > section >*/ article > figure {
    /*Top right bottom left*/
    padding:1vh 1vw;
    margin:0 5vw 1vh 5vw;
    width: 85vw;
}

/*body > main > section >*/ article > figure > figcaption {
    font-size: 6vh;
}

/*body > main > section >*/ article > figure > p {
    font-size: 3vh;
    margin: 2vh 0 0 0;
    text-align: justify;
    text-justify: inter-word;
}

/* ----- START FORMS ----- */

form {
    display: table;
    /*Top right bottom left*/
    margin: 2vh auto;
    padding: 2vh 2vw;
    overflow: hidden;
}

form > p {
    display: table-row;
    margin-bottom: 15px;
    padding: 0px 20px;
}

form > p > label {
    display: table-cell;
    /*Top right bottom left*/
    padding: 0 1vw 0 0;
    text-align: right;
    font-weight: bold;
    vertical-align: top;
}

form > p > input {
    display: table-cell;
    border: 0.1vmin solid #000;
    /*Top right bottom left*/
    padding: 1vh 1vw 1vh 1vw;
    margin: 0.5vh 0.5vw 0.5vh 0.5vw;
}

form > p > input[type="text"], form input[type="email"], form input[type="password"] {
    width: 40vw;
    height: 3vh;
}

form > p > textarea {
    display: table-cell;
    width: 40vw;
    height: 15vh;
    border: 0.1vmin solid #000;
    padding: 1vh 1vw 1vh 1vw;
    margin: 0.5vh 0.5vw 0.5vh 0.5vw;
}

form > p > input[type="submit"] {
    float:right;
    padding: 1vh 1vw;
    background: #9E9E9E;
}

form > p > input[type="submit"]:hover {
    background: #444;
}

form > p > input[type="submit"]:active {
    background: #000;
    color:#FFF;
}

/* ----- START FOOTER ----- */

body > footer {
    position:fixed;
    height: 4vh;
    left:0;
    right:0;
    bottom: 0px;
    display:block;
    background: #000;
    z-index:9;
    text-align:center;
    color: #FFF;
    opacity: 0.2;
}

body > footer > p {
    font-size: 2.5vh;
    color: #FFF;
    vertical-align:middle;
    height: 5vh;
}
